<div class="song" [attr.data-title]="formatTitle()">
  <figure>
    <img [src]="song.cover" [alt]="song.artist + ' song from the ' + song.album + ' album'">
  </figure>
  <div>
    <div class="song-tags">
      <p>{{ song.title }}</p>
      <p>{{ song.artist }}</p>
      <p>{{ song.album }}</p>
    </div>
    <div class="actions">
      <img
        class="download-btn"
        (click)="setDownload()"
        [src]="getIcon(downloading ? 'downloading' : 'download')" alt=""/>
      <img
        class="fav-btn"
        (click)="setFav()"
        [src]="getIcon(isfav ? 'fav' : 'no-fav')" alt=""/>
    </div>
  </div>
</div>