<figure>
  <img [src]="data?.cover" alt="">
</figure>
<div>
  <div class="song-tags">
    <p>{{ data?.title }}</p>
    <p>{{ data?.artist }}</p>
    <p>{{ data?.album }}</p>
  </div>
  <div class="actions">
    <i class="uil uil-trash-alt del-action"
      style="font-size: 1.6em"
      *ngIf="index || index === 0; else actions"
      (click)="deleteFromPackage()"></i>
    <ng-template #actions>
      <img class="add" alt=""
        (click)="addToPackage()" 
        src="./assets/icons/actions/add.svg"
        iconName="add"
        />
      <img class="spotify" alt=""
        src="./assets/icons/actions/spotify.svg"
        iconName="spotify"
        />
      <img class="deezer" alt=""
        src="./assets/icons/actions/deezer.svg"
        iconName="deezer"
        />
      <img class="youtube" alt=""
        src="./assets/icons/actions/youtube.svg"
        iconName="youtube"
        />
    </ng-template>
  </div>
</div>