@import '../../sass/variables';

:host {
  display: flex;
  background-color: white;
  border-radius: $radiusBase;
  max-height: 70px;
  overflow-x: scroll;
  &::-webkit-scrollbar { display: none }
  -ms-overflow-style: none;
  scrollbar-width: none;
  figure, .song-content { display: flex; align-items: center }
  figure { margin: min(2%, 10px);
    img { height: 55px; border-radius: 6px }
  }
  .song-content {
    flex: 1; justify-content: space-between;
    font-size: min(4vw, 15px);
    .song-tags p {
      white-space: nowrap;
      max-width: 355px;
      text-overflow: ellipsis;
      overflow: hidden;
      &:not(:first-of-type) {
        color: $darkGray;
        font-size: .9em;
      }
    }
    .fetched-icon {
      font-size: 1.7em;
      margin-right: 17px;
      color: $babyGreen;
    }

    .actions {
      margin: 0 min(4%, 15px) 0 5px;
      display: flex;
      a { display: flex }
      img, a img, .del-action { cursor: pointer }
      img, a img {
        width: min(6vw, 25px);        
        margin-right: 7px;
        &.download { width: min(5vw, 20px) }
      }
      .del-action:hover { color: $babyRed }
      .loader {
        width: 15px; height: 15px;
        margin-right: 5px;
        border-radius: 50%;
        border: 3px solid $babyGreen;
        border-top-color: transparent;
        @keyframes spin {
          from { transform: rotate(0) }
          to { transform: rotate(360deg) }
        }
        animation: spin 1s infinite;
      }
    }
  }
  @media (max-width: 650px) {
    position: relative;
    .actions {
      position: absolute; right: 0;
      width: calc(100% - 20px); height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      margin: 0 !important; padding: 0 10px;
      border-left: 2px solid $darkGray;
      transform: translateX(100%);
      transition-duration: .25s;
      a img { margin: 0 !important }
      .del-action { font-size: 2em !important }
    }
    &:hover .actions { transform: initial }
    
  }
}

// This stylesheet was reviewed (and summarized) on 08/26/2021;
