@import '../../sass/variables';

:host {
  display: flex;
  background-color: white;
  border-radius: $radiusBase;
  max-height: 70px;
  figure, > div { display: flex; align-items: center }
  figure {
    min-width: 50px;
    margin: min(2%, 10px);
    img {
      width: auto; height: 55px;
      border-radius: 6px;
    }
  }
  > div {
    flex: 1; justify-content: space-between;
    font-size: min(4vw, 15px);
    text-align: left;
    overflow: scroll; // for long tags overflow
    &::-webkit-scrollbar { display: none }
    -ms-overflow-style: none;
    scrollbar-width: none;
    .song-tags {
      p {
        white-space: nowrap;
        max-width: 355px;
        text-overflow: ellipsis;
        overflow: hidden;
        &:not(:first-of-type) {
          color: $darkGray;
          font-size: .9em;
        }
      }
    }
    .actions {
      margin: 0 min(4%, 15px) 0 5px;
      display: flex; // for long tags overflow
      a { display: flex }
      img, a img {
        width: min(6vw, 25px);        
        margin-right: 7px;
        cursor: pointer;
        &.download { width: min(5vw, 20px) }
        &.youtube { width: min(5vw, 27px) }
      }
      .del-action {
        cursor: pointer;
        &:hover { color: $babyRed }
      }
    }
  }
}
