<div class="presentation">
  <h2>Create your song</h2>
  <p>Fill the following fields to continue with the cover</p>
</div>
<div class="entries">
  <field
    name="url"
    placeholder="Url"
    [control]="form.get('url')">
  </field>
  <field
    name="title"
    placeholder="Title"
    [control]="form.get('title')">
  </field>
  <field
    name="artist"
    placeholder="Artist"
    [control]="form.get('artist')">
  </field>
  <field
    name="album"
    placeholder="Album"
    [control]="form.get('album')">
  </field>
</div>
<div class="btns-group" style="width: calc(100% - 2em); margin: 0 auto">
  <action-button [goback]="true"></action-button>
  <action-button
    (click)="form.valid && onSubmit()"
    [disabled]="form.invalid">
  </action-button>
</div>
<a routerLink="/center/information">
  Where can i find that information?
</a>
