@import '../../../shared/sass/variables';
@import '../../../shared/sass/utils';

.main-form {
  @include centered-abs-form;
  > *:not(a) { margin: 1em }
  .presentation {
    text-align: center;
    p { color: $darkGray }
  }
  .entries {
    custom-input { display: block; margin-bottom: 10px }  
  }
  .buttons {
    display: flex;
    action-button:first-of-type { width: 15%; margin-right: 10px }
    action-button { width: 85% }
  }
  a { display: block; text-align: center }
}