@import '../../../shared/sass/variables';
@import '../create.styles.scss';

:host {
  @include center-form;
  > *:not(a) { margin: 1em }
  .presentation {
    text-align: center;
    p { color: $darkGray }
  }
  .entries {
    custom-input { display: block; margin-bottom: 10px }  
  }  
  a { display: block; text-align: center }
}