@import '../../create/create.styles.scss';
@import '../../../shared/sass/variables';

:host {
  .package {
    margin: 10px;
    overflow: auto;
    background-color: $lightGray;
    border-radius: 10px;    
  }
  .empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    p { margin-bottom: 7px; color: $darkGray }    
  }
  @media (min-width: 500px) { @include center-form }
}