@import '../../../shared/sass/variables';
@import '../../../shared/sass/utils';

.current-package {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 55px 10px;
  height: calc(100vh - (55px * 2));
  max-width: 650px;
  margin: auto;
  .package {
    margin: 10px;
    overflow: auto;
    background-color: $lightGray;
    border-radius: 7px;
    @include custom-scrollbar;
  }
  .empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    p { margin-bottom: 7px; color: $darkGray }    
  }
  @media (min-width: 500px) {
    
  }
}