@import '../../../shared/sass/variables';
@import '../centers.styles.scss';

.info-center {
  padding: 15% 0;
  .header {
    .presentation {
      text-align: center;
      font-size: 1.3em;
      p { font-weight: bold; color: $darkGray }
    }
    .hero {
      margin: 10px auto; padding: 0 2em;
      max-width: 350px;
      text-align: center;
      figure img { width: 100% }
      h3 {
        font-size: min(5vw, 20px);
        margin-top: 15px;
        color: $darkGray;
      }
    }
  }
  .questions .questions-list {
    display: flex; flex-wrap: wrap;
    justify-content: center;
  }
  @media (min-width: 768px) {
    padding: 0;    
    .header { @include aside-section }
    .questions { @include aside-section(false) }
  }
  a { display: inline }
}