<div class="download-center">
  <div class="page-header presentation">
    <h2>Download center</h2>
    <p>Here you’ll can download our desktop app</p>
    <figure class="hero">
      <img src="/assets/ilustrations/download.svg" alt="" />
    </figure>
    <p>
      The Lasso desktop app is only available for <strong>Windows</strong>.<br>
      It'll be ready for others OS as soon as posible
    </p>
    <button>Download</button>
  </div>
  <div class="use-help presentation">
    <h2>How does the app work?</h2>
    <p>
      Lasso desktop app is probably the heart of this application, after you
      generate your package, you’ll can download it as a JSON file, then you import
      it and click on download button and your songs will start to be downloaded.
    </p>
  </div>
</div>
