<div class="download-center">
  <div class="page-header presentation">
    <h2>Download center</h2>
    <p>Here you can get our desktop app</p>
    <figure class="hero">
      <img src="/assets/ilustrations/download.svg" alt="" />
    </figure>
    <p class="info">
      The Lasso desktop app was developed for <strong>Windows</strong> users. <br>
      Our app is intuitive, I'm not going to explain how to use it.
      <br>
    </p>
    <a href="https://firebasestorage.googleapis.com/v0/b/lassodl.appspot.com/o/lasso-1.0.0.exe?alt=media&token=d2311aa7-8b8a-4eb8-a3e5-91dd00ea2f53" download>
      Download
    </a>
  </div>
</div>
