@import '../../../../shared/sass/variables';
@import '../centers.styles.scss';

.info-center {
  .header {
    .presentation {
      font-size: 1.3em;
      h1, p { line-height: 1 }
      p { font-weight: bold }
    }
    .hero {
      margin: 10px auto;
      padding: 0 2em;
      text-align: center;
      figure img { width: 100% }
      h3 {
        font-size: min(5vw, 20px);
        margin-top: 15px;
        color: $darkGray;
      }
    }
  }
  .questions .questions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    question a { display: inline }
  }
  @media (max-width: 767px) { padding: 15% 0 }  
  @media (min-width: 768px) {
    .header { @include aside-section }
    .questions { @include aside-section(false) }
  }
}

// This stylesheet was reviewed (and summarized) on 08/27/2021;
