<div class="info-center">
  <div class="header">
    <div class="presentation">
      <h1>Lasso</h1>
      <p>Information center</p>
    </div>
    <div class="hero">
      <figure>
        <img src="assets/ilustrations/faq.svg" alt=""/>
      </figure>
      <h3>
        Here you can find information about Lasso, how does it work
        and other useful things for the correct use of this app.
      </h3>
    </div>
    <div class="ask-me-smt">
      <p (click)="onAsk()">Ask me something</p>
    </div>
    <ask-me [show]="asking" (onCancel)="toClose()"></ask-me>
  </div>
  <div class="questions">
    <h2 style="text-align: center; padding: .7em 0 0.2em 0">Frequently asked questions</h2>
    <div class="questions-list">
      <question title="What is Lasso?">
        Lasso is a <strong>complete music downloader</strong> that use
        JSON-based packages generated here in the page and downloaded
        through our <a href="">desktop app.</a>
      </question>
      <question title="How does it work?">
        As a user, i add to the current package the song that i want to download,
        then i go to the package section and download it. I open the desktop app
        to open the <strong>downloaded JSON</strong> and click on download button.
        It's all, your songs will start to be downloaded.
      </question>
      <question title="Where can i find tags information?">
        There are a lot of options, we recommend to use
        <a href="https://www.genius.com" rel="noopener noreferrer" target="_blank">Genius</a>.
      </question>
      <question title="Is it completely free?">
        Yes, the fetched data for Lasso is brought from the most used music stream platforms
        (<a href="https://www.spotify.com" rel="noopener noreferrer" target="_blank">Spotify</a> and
        <a href="https://www.deezer.com" rel="noopener noreferrer" target="_blank">Deezer</a>)
        and the audio from
        <a href="https://www.youtube.com" rel="noopener noreferrer" target="_blank">Youtube</a>.
      </question>
      <question title="Who developed Lasso?">
        <a href="https://gianlop3z-dev.web.app" rel="noopener noreferrer" target="_blank">Gian López</a>, 
        a Web Developer that learned Angular some weeks ago and made it to practice.
      </question>
      <question title="Can i contribute?">
        Yes, you can contribute, just <a href="mailto:lopezarizagianlucas@gmail.com">send me an email.</a>
      </question>
      <question title="Can i donate?">
        Yes, you can donate too,
        <a href="https://www.buymeacoffee.com/gianlop3z" rel="noopener noreferrer" target="_blank">here.</a>
      </question>
      <question title="Does Lasso download at +128 kbps?">
        No, the audio is brought from Youtube, so the max kpbs is 128. 
      </question>
      <question title="What's the name origin?">
        "Lasso" came from
        <a href="https://es.wikipedia.org/wiki/Orlando_di_Lasso" rel="noopener noreferrer" target="_blank">
          Orlando's</a> name.
      </question>
    </div>
  </div>
</div>
