<form class="ask-form" [ngClass]="{ 'show': show }">
  <div class="header">
    <h3>Fill the question data</h3>
    <p>I'll try to reply as soon as posible</p>
  </div>
  <div class="entries">
    <field name="name" placeholder="Name"></field>
    <field name="email" placeholder="Email"></field>
    <field name="question" placeholder="What's your question?"></field>
  </div>
  <div class="btns" style="display: flex">
    <button type="button" class="cancel" (click)="cancelHandler()">Cancel</button>
    <button type="button" class="submit">Submit</button>
  </div>
</form>
