<div class="ask-form" [ngClass]="{ show: show }">
  <div class="header">
    <h3>Fill the question data</h3>
    <p>I'll try to reply as soon as posible</p>
  </div>
  <form class="entries" [formGroup]="form">
    <field [control]="form.get('name')" name="name" placeholder="Name"></field>
    <field
      [control]="form.get('email')"
      placeholder="Email"
      name="email">
    </field>
    <field
      [control]="form.get('question')"
      name="question"
      placeholder="What's your question?">
    </field>
  </form>
  <div class="btns" style="display: flex">
    <button class="cancel" (click)="cancelHandler()">Cancel</button>
    <button class="submit" [disabled]="!form.valid">Submit</button>
  </div>
</div>
