@import '../../../shared/sass/variables';

.url-page {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  .url-presentation {
    max-width: 500px;
    text-align: center;
    p { color: $darkGray; margin: 5px 0 10px 0 }
  }
  custom-input, action-button { width: 95% }
  custom-input {
    max-width: 500px;
    margin-top: 1em;
  }
  action-button {
    margin-top: min(35%, 55px);
    max-width: 350px;
  }
  a { margin-top: 10px }
}