@import '../../shared/sass/variables';

.home-page {  
  .presentation {
    text-align: center;
    font-size: 1.3em;
    p { font-weight: bold; color: $darkGray }
  }
  .query-interaction {
    width: 90%; margin: 1.25em auto;
    .search-input {
      position: relative;
      display: flex;
      align-items: center;
      margin: auto;
      svg {
        position: absolute;
        height: 100%;
        font-size: 1.5em;
        padding-left: 10px;
        border-radius: $radiusBase 0 0 $radiusBase;
        color: $darkGray;
        background-color: $lightGray;
      }
      input {
        width: 100%;
        padding: min(1.25em, 15px) .5em;
        text-align: center;
        border-radius: $radiusBase;
        border: none;
        background-color: #E5E5E5;
        outline: none;
        @media (min-width: 768px) { font-size: 15px }
      }
    }
    .results {
      overflow: auto;
      background-color: $lightGray;
      border-radius: 10px;
      margin: .7em auto 0 auto;
      p { color: $darkGray; font-size: .9em }
      &.no-results {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .search-input, .results {
      max-width: 600px;
    }
  }
  .not-found-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
  }  
  &.nodata-pos {
    position: absolute; width: 100%;
    top: 50%; transform: translateY(-50%);
  }
}
