<div class="home-page" [ngClass]="{ 'nodata-pos': !songs.length }">
  <div class="presentation">
    <h1>Lasso</h1>
    <p>A music downloader</p>
  </div>
  <div class="query-interaction">
    <div class="search-input">
      <span class="iconify" data-icon="bx:bx-search-alt"></span>
      <input
        type="text"
        placeholder="What song are you searching?"
        spellcheck="false"
        [(ngModel)]="song"
        (input)="onSongChange()"
      />
    </div>
    <div class="results" (window:scroll)="onScroll()"
      [ngClass]="{ 'no-results': !songs.length }">
      <ng-lottie
        class="loader-lottie"
        [options]="loaderLottie"
        height="75px"
        *ngIf="loading; else resultsContainer"></ng-lottie>
      <ng-template #resultsContainer>
        <p *ngIf="!songs.length">Results will appear here</p>
        <ng-container *ngIf="songs.length">
          <song
            style="margin: 10px"
            *ngFor="let song of songs"
            (onAdd)="addHandler($event)"
            [data]="song"></song>
        </ng-container>
      </ng-template>
    </div>
  </div>
  <div class="not-found-action">
    Not found song?
    <a href="">Let's create that one!</a> <!-- Change -->
  </div>
</div>
<ng-lottie  
  class="waves-lottie"
  [ngClass]="{ 'top-lottie': songs.length, 'on-scroll': hideLottie }"
  [options]="wavesLottie"
  height="50px"></ng-lottie>
<i class="scroll-top-btn uil uil-angle-double-up"
  [ngClass]="{ 'show-btn': showSTbutton }"
  (click)="toTop()"></i>
<slide-message [display]="added" [message]="slideMessage"></slide-message>
