<div class="package">
  <div class="presentation">
    <h2>Your package</h2>
    <p>You’ve added the following songs</p>
  </div>
  <div class="package-list" [ngClass]="{'empty': !_package.length}">
    <ng-container *ngIf="_package.length; else emptyPackage">
      <song *ngFor="let song of _package"
        [data]="song"
        [loading]="fetching"
        [fetchingIndex]="findex"
        [index]="_package.indexOf(song)"
        (onDelete)="deleteHandler($event)"
        (onFetched)="updatedFetching($event)"
        style="margin: 10px; border-radius: 6px">
      </song>
    </ng-container>
    <ng-template #emptyPackage>
      <p>Empty package</p>
    </ng-template>
  </div>
  <div class="btns-group">
    <button class="delete-all" (click)="clearPackage()" [disabled]="fetching">
      Delete all
      <i class="uil uil-trash-alt"></i>
    </button>
    <button class="download" (click)="isReady ? dl.click() : onDownload()" [disabled]="fetching">
      {{ isReady ? 'Download' : 'Set up for download' }}      
      <i [class]="isReady ? 'uil uil-import' : 'uil uil-sliders-v-alt'"></i>
      <a #dl [href]="downloadUrl" download="lasso-package.json"></a>
    </button>
  </div>
  <a routerLink="/center/information">How does the songs package work?</a>
</div>
<slide-message
  [danger]="true"
  [display]="deleting"
  message="Song has been removed!">
</slide-message>