@import '../../shared/sass/variables';
@import '../../shared/sass/utils';

.package {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 10px;
  height: calc(100vh - (60px * 2));
  max-width: 600px;
  margin: auto;
  &-list, .btns-group { margin: 10px }
  &-list {
    overflow: auto;
    background-color: $lightGray;
    border-radius: 7px;
    @include custom-scrollbar;
    &.empty-list {
      display: grid;
      place-items: center;
      height: 250px;
      p { color: $darkGray }    
    }
  }
  .btns-group {
    display: flex;
    margin-top: 0;
    button {
      width: 100%;
      padding: 12px 0;
      font-size: 1em;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      i { font-size: 1.1em }
      &.delete-all {
        background-color: $babyRed;
        max-width: 200px;
      }
      &.download {
        background-color: $babyGreen;
        margin-left: 10px;
      }
      &:disabled { cursor: not-allowed }
    }
  }
  > a { width: max-content; margin: 0 auto }
}

:host ::ng-deep slide-message div { max-width: 340px !important }