<div class="package">
  <div class="presentation">
    <h2>Your package</h2>
    <p>You’ve added the following songs</p>
  </div>
  <div class="package-list" [ngClass]="{'empty': !pkg.length}">
    <ng-container *ngIf="pkg.length; else emptyPackage">
      <song *ngFor="let song of pkg"
        [data]="song"
        [index]="pkg.indexOf(song)"
        (onDelete)="deleteHandler($event)"
        style="margin: 10px; border-radius: 6px">
      </song>
    </ng-container>
    <ng-template #emptyPackage>
      <p>Empty package</p>
    </ng-template>
  </div>
  <div class="btns-group">
    <button class="delete-all" (click)="clearPackage()">
      Delete all
      <i class="uil uil-trash-alt"></i>
    </button>
    <button class="download">
      Download
      <i class="uil uil-arrow-to-bottom"></i>
    </button>
  </div>
  <a href="">How does the songs package work?</a>
</div>
<slide-message
  [danger]="true"
  class="rm-message"
  [display]="deleting"
  message="Succesfully removed song!">
</slide-message>
