<div class="presentation">
  <h2>Add your song cover</h2>
  <p>If you don’t provide it, we’ll set a default cover</p>
</div>
<div class="cover-place">
  <p *ngIf="!cover; else loadedCover">
    Cover Place
  </p>
  <ng-template #loadedCover>
    <figure class="loaded-cover">
      <img [src]="preview" alt=""/>
      <div class="clear-cover" (click)="!loading && onClearCover()">
        <p>Clear cover</p>
        <i class="uil uil-trash-alt"></i>
      </div>
    </figure>
  </ng-template>
</div>
<div class="cover-input">
  <input
    type="text"
    [value]="cover?.name"
    placeholder="Loaded cover"
    disabled
  />
  <button (click)="coverinput.click()">
    Upload
  </button>
  <input #coverinput
    type="file"
    accept="image/png, image/jpeg"
    (change)="changeHandler($event)"
    hidden 
  />
</div>
<div class="btns-group" style="margin-top: 10px">
  <action-button
    [goback]="true"
    (click)="backHandler()">
  </action-button>
  <action-button
    label="Create song"
    (click)="completeHandler()"
    [disabled]="loading">
  </action-button>
</div>
<slide-message
  [display]="added"
  message="Created succesfully!"
  [top]="true">
</slide-message>
