<div class="info-center">
  <div class="header">
    <div class="presentation">
      <h1>Lasso</h1>
      <p>Information center</p>
    </div>
    <div class="hero">
      <figure>
        <img src="assets/ilustrations/faq.svg" alt=""/>
      </figure>
      <h3>
        Here you can find information about Lasso, how does it work
        and other useful things for the correct use of this page.
      </h3>
    </div>
  </div>
  <div class="questions">
    <h2 style="text-align: center">Frequent questions</h2>
    <div class="questions-list">
      <question title="What is Lasso?">
        Lasso is a complete music downloader that use
        JSON-based packages to download any song you want
        through our desktop app.
      </question>
      <question title="How does it work?">
        As a user, i add to the current package the song that i want to download,
        then i go to the package section and download it. I open the Desktop app
        to open the downloaded JSON and click on download button.
        It's all, your songs will start to be downloaded.
      </question>
      <question title="Is it completely free?">
        Yes, the fetched data for Lasso is brought from the most
        used music stream platforms (Spotify, Deezer) and the audio from Youtube.
      </question>
      <question title="Who developed Lasso?">
        Gian López, a Web Developer that learned Angular
        some weeks ago and made it to practice.
      </question>
      <question title="Can i contribute?">
        Yes, you can contribute, just send me an email.
      </question>
      <question title="Can i donate?">
        Yes, you can donate too, here.
      </question>
    </div>
  </div>
</div>
