@import '../../shared/sass/variables';

.btns-group {
  display: flex;
  action-button:first-of-type { width: 15%; margin-right: 10px }
  action-button { width: 85% }
}

@mixin center-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  height: calc(100vh - 50px);
  margin: auto;
}

.presentation {
  text-align: center;
  p { color: $darkGray }
}