@import '../../shared/sass/variables';

@mixin center-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  height: 100vh;
  margin: auto;
}

.btns-group {
  display: flex;
  action-button:first-of-type { width: 15%; margin-right: 10px }
  action-button { width: 85% }
}