/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap');
@import './app/shared/sass/variables';
@import './app/shared/sass/utils';

* {
  font-family: 'Fira Sans', cursive;
  margin: 0; padding: 0;
}

body {
  overflow: hidden scroll;
  @include custom-scrollbar;
}

a {
  display: block;
  color: $lightBlue;
  text-align: center;
}

.presentation {
  text-align: center;
  p { color: $darkGray }
}

.waves-lottie {
  > div {  
    position: fixed; z-index: -1;
    top: calc(100% - 50px); bottom: 0;
    display: flex;
    align-items: flex-end;  
    svg { @media (max-width: 595px) { height: auto !important } }  
    transition-duration: .25s;
  }
  &.top-lottie {
    > div { top: 0; transform: rotate(180deg) }
  }
  &.on-scroll { > div { top: -50px } }
}
