/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap');
@import './app/shared/sass/variables';

* {
  font-family: 'Fira Sans', cursive;
  margin: 0; padding: 0;
}

body { overflow-x: hidden } // to hide the horizontal scroll bar

a { color: $lightBlue }

ng-lottie {
  > div {  
    position: fixed;
    top: calc(100% - 50px); bottom: 0;
    display: flex;
    align-items: flex-end;  
    svg { @media (max-width: 595px) { height: auto !important } }  
    transition-duration: .25s;
  }
  &.to-top-lottie { transform: translateY(100%) }
}
