@import '../../../shared/sass/variables';
@import '../create.styles.scss';

:host {
  width: 90%;
  @include center-page;
  .cover-place {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: $lightGray;
    border-radius: 5px;
    margin: 10px 0;
    p {
      font-size: 1.35em;
      font-weight: bold;
      color: $darkGray
    }
  }
  .cover-input {
    position: relative;
    display: flex;
    input, button { border: none; border-radius: 3px }
    input {
      flex: 1; padding: 1em calc(25% + 10px) 1em 1em;
      background-color: $lightGray;
      font-size: .9em;
      outline: none;
    }
    button {
      position: absolute;
      bottom: 50%; right: 5px;
      width: 25%; height: 80%;
      transform: translateY(50%);
      padding: 0 2em;
      background-color: $darkGray;
      color: white;
      cursor: pointer;
    }
  }
}